@model List<Domain.Entities.BudgetFonctionnement>
@using System.Globalization
@{
    Layout = "_LayoutDashboard";
    var nfi = (NumberFormatInfo)CultureInfo.InvariantCulture.NumberFormat.Clone();
    nfi.NumberGroupSeparator = " ";
}

<style>
    .disabled {
    }
</style>

<div class="card mb-4">
    <div style="display:flex;justify-content:space-between;">
        <div class="card-header">
            <h3 class="mb-0">Budgets de Fonctionnement</h3>
            <span>
                Utilisez les filtres pour rechercher vos budgets de fonctionnement.
            </span>
        </div>
        <div class="card-header">
            <a type="button" class="btn btn-info" asp-action="AddBudgetFonctionnement">Ajouter un budget de fonctionnement</a>
        </div>
    </div>
    <!-- Card header -->
    <!-- Card body -->
    <div class="card-body mt-3">
        <!-- Form de recherche -->
        <form class="form-row" asp-action="BudgetFonctionnement" asp-controller="Comptabilite" method="get">
            <div class="col-lg-4 col-md-4 col-12 mb-2">
                <input name="DateBudget" value="@ViewData["DateBudget"]" type="text" class="form-control flatpickr" placeholder="Date du Budget" />
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-2">
                <input name="Emetteur" value="@ViewData["Emetteur"]" type="text" class="form-control" placeholder="Émetteur du Budget" />
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-2">
                <input name="NumeroCheque" value="@ViewData["NumeroCheque"]" type="text" class="form-control" placeholder="Numéro de Chèque" />
            </div>
            <div class="col-lg-12 col-md-12 col-12 mb-2">
                <button type="submit" class="btn btn-outline-info me-2">Rechercher</button>
                <a asp-action="BudgetFonctionnement" asp-controller="Comptabilite" type="button" class="btn btn-outline-primary">Réinitialiser</a>
            </div>
        </form>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div class="card mb-4">
    <!-- Table -->
    <div class="table-responsive">
            <table class="table mb-0 table-hover table-centered text-nowrap">
                <thead class="table-light">
                <tr>
                    <th scope="col" class="border-0">#</th>
                    <th scope="col" class="border-0">Date du Budget</th>
                    <th scope="col" class="border-0">Montant du Budget</th>
                    <th scope="col" class="border-0">Émetteur du Budget</th>
                    <th scope="col" class="border-0">Numéro de Chèque</th>
                    <th scope="col" class="border-0">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var budget in Model)
                {
                    <tr>
                        <td>@budget.BudgetFonctionnementID</td>
                        <td>@budget.DateBudget.ToString("dd/MM/yyyy")</td>
                        <td>@budget.MontantBudget.ToString("#,##0.00", nfi)</td>
                        <td>@budget.EmetteurBudget</td>
                        <td>@budget.NuméroCheque</td>
                        <td>
                            <a asp-action="UpdateBudgetFonctionnement" asp-route-id="@budget.BudgetFonctionnementID">
                                <i class="fe fe-edit dropdown-item-icon"></i>
                            </a>
                            <a style="cursor:pointer;" id="@budget.BudgetFonctionnementID" onclick="confirmDelete(this)">
                                <i class="fe fe-trash dropdown-item-icon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
}
else
{
    <p>Aucun budget de fonctionnement n'a été enregistré.</p>
}

@section Scripts {
    <script>
        function confirmDelete(button) {
            var budgetID = button.id;
            alertify.confirm('Confirmation de suppression', 'Êtes-vous sûr de vouloir supprimer ce budget de fonctionnement ?', function () {
                window.location.href = '@Url.Action("RemoveBudgetFonctionnement", "Comptabilite")' + '/' + budgetID;
            }, function () {
                // Annuler la suppression
            });
        }
    </script>
}
