@model IEnumerable<Domain.Entities.BudgetFinancement>
@using System.Globalization
@{
    ViewData["Title"] = "Liste des Budgets de Financement";
    var nfi = (NumberFormatInfo)CultureInfo.InvariantCulture.NumberFormat.Clone();
    nfi.NumberGroupSeparator = " ";
}

@{
    Layout = "_LayoutDashboard";
}
<div class="card mb-4">
    <div style="display:flex;justify-content:space-between;">
        <div class="card-header">
            <h3 class="mb-0">Budgets de Financement</h3>
            <span>
                Utilisez les filtres pour rechercher vos budgets de financement.
            </span>
        </div>
        <div class="card-header">
            <a type="button" class="btn btn-info" asp-action="AddBudgetFinancement">Ajouter un budget de financement</a>
        </div>
    </div>


        <div class="card-body mt-3">
            <!-- Form de recherche -->
            <form class="form-row" asp-action="BudgetFinancement" asp-controller="Comptabilite" method="get">
                <div class="col-lg-4 col-md-4 col-12 mb-2">
                    <input name="DateBudget" value="@ViewData["DateBudget"]" type="text" class="form-control flatpickr" placeholder="Date du Budget" />
                </div>
                <div class="col-lg-4 col-md-4 col-12 mb-2">
                    <input name="Emetteur" value="@ViewData["Emetteur"]" type="text" class="form-control" placeholder="Émetteur du Budget" />
                </div>
                <div class="col-lg-4 col-md-4 col-12 mb-2">
                    <input name="NumeroCheque" value="@ViewData["NumeroCheque"]" type="text" class="form-control" placeholder="Numéro de Chèque" />
                </div>
                <div class="col-lg-12 col-md-12 col-12 mb-2">
                    <button type="submit" class="btn btn-outline-info me-2">Rechercher</button>
                    <a asp-action="BudgetFinancement" asp-controller="Comptabilite" type="button" class="btn btn-outline-primary">Réinitialiser</a>
                </div>
            </form>
        </div>
    </div>
    <!-- Card body -->
    <div class="card-body">
        @if (Model != null && Model.Any())
        {
            <div class="table-responsive border-0 overflow-y-hidden card-body">
                <table class="table mb-0 text-nowrap">
                    <thead>
                        <tr>
                            <th scope="col" class="border-0">ID</th>
                            <th scope="col" class="border-0">Date du Budget</th>
                            <th scope="col" class="border-0">Montant du Budget</th>
                            <th scope="col" class="border-0">Émetteur du Budget</th>
                            <th scope="col" class="border-0">Numéro de Chèque</th>
                            <th scope="col" class="border-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var budget in Model)
                        {
                            <tr>
                                <td class="border-top-0">@budget.BudgetFinancementID</td>
                                <td class="border-top-0">@budget.DateBudget.ToString("MM/dd/yyyy")</td>
                                <td class="border-top-0">@budget.MontantBudget.ToString("#,##0.00", nfi)</td>
                                <td class="border-top-0">@budget.EmetteurBudget</td>
                                <td class="border-top-0">@budget.NuméroCheque</td>
                                <td class="border-top-0">
                                <a asp-action="UpdateBudgetFinancement" asp-route-id="@budget.BudgetFinancementID">
                                    <i class="fe fe-edit dropdown-item-icon"></i>
                                    </a>
                                    <a style="cursor:pointer;" id="@budget.BudgetFinancementID" onclick="confirmDelete(this)">
                                        <i class="fe fe-trash dropdown-item-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Aucun budget de financement n'a été enregistré.</p>
        }
    </div>
</div>
@section Scripts {
    <script>
        function confirmDelete(button) {
            var budgetID = button.id;
            alertify.confirm('Confirmation de suppression', 'Êtes-vous sûr de vouloir supprimer cet élément ?', function () {
                // Redirigez vers l'action de suppression avec l'ID du budget
                window.location.href = '@Url.Action("RemoveBudgetFinancement", "Comptabilite")' + '/' + budgetID;
            }, function () {
                // L'utilisateur a annulé la suppression, aucune action nécessaire
            });
        }
    </script>
}