@using Domain.Models
@model PaginatedList<Domain.Entities.Client>

@{
    Layout = "_LayoutDashboard";
}
<style>
    .disabled {
    }
</style>
<div class="card mb-4">
    <div style="display:flex;justify-content:space-between;">
        <div class="card-header">
            <h3 class="mb-0">Candidats</h3>
            <span>
                Utiliser les filtres pour rechercher vos candidats.
            </span>
        </div>
        <div class="card-header">
            @*<a type="button" class="btn btn-info" asp-action="Create">Ajouter un candidat</a>*@
        </div>
    </div>
    <!-- Card header -->
    <!-- Card body -->
    <div class="card-body">
        <!-- Form -->
        <form class="form-row" asp-action="Orientation" asp-controller="Candidats" method="get">
            <div class="col-lg-6 mb-2 col-md-6 col-12 ">
                <input name="SearchNom" id="Nom" value="@ViewData["CurrentFilterN"]" type="search" class="form-control" placeholder="Nom" />
            </div>

            <div class="col-lg-6 mb-2 col-md-6 col-12  ">
                <input name="SearchCIN" id="CIN" value="@ViewData["CINSortParm"]" type="search" class="form-control" placeholder="CIN" />
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12 ">

                <select name="OrientationFilter" value="@ViewData["OrientationSortParm"]" class="selectpicker" data-width="100%">
                    <option disabled selected>--- Orientation ---</option>
                    <option value="@Orientation.NonOrienté">Non orienté</option>
                    <option value="@Orientation.Orienté">Orienté</option>
                    <option value="@Orientation.Refusé">Refusé</option>
                    <option value="@Orientation.Financé">Financé</option>
                </select>

            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12 ">

                @if (User.IsInRole("HeureJoyeuse"))
                {
                    <select name="SearchStatut" value="@ViewData["StatutSortParm"]" class="selectpicker" data-width="100%">
                    <option disabled selected>--- Statut ---</option>
                    <option value="0">Porteur de projet</option>
                    @*<option value="1">Chercheur d'emploit</option>*@
                </select>
                }
                else if (User.IsInRole("Amideast"))
                {
                    <select name="SearchStatut" value="@ViewData["StatutSortParm"]" class="selectpicker" data-width="100%">
                    <option disabled selected>--- Statut ---</option>
                    @*<option value="0">Porteur de projet</option>*@
                    <option value="1">Chercheur d'emploit</option>
                    </select>
                }
                else
                {
                    <select name="SearchStatut" value="@ViewData["StatutSortParm"]" class="selectpicker" data-width="100%">
                    <option disabled selected>--- Statut ---</option>
                    <option value="0">Porteur de projet</option>
                    <option value="1">Chercheur d'emploit</option>
                </select>
                }


            </div>

            <div class="col-lg-6 col-md-6 col-12 mb-2">
                <div class="w-md-50">
                    <input name="SearchDate" id="Date" value="@ViewData["CurrentFilterD"]" type="text" class="form-control flatpickr" placeholder="Date de départ">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mb-2">
                <div class="w-md-50">
                    <input name="SearchDateO" value="@ViewData["CurrentFilterDO"]" id="Date" type="text" class="form-control flatpickr" placeholder="Date de fin">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 mb-2" style="text-align:right!important;">
                <button type="submit" class="btn btn-outline-info me-2">Rechercher</button>
                <a asp-action="Orientation" type="button" class="btn btn-outline-primary">Initialiser</a>
            </div>
        </form>
    </div>

</div>

@if (Model != null)
{
    <!-- Table -->
    <div class="table-responsive border-0 overflow-y-hidden card-body">
        <table class="table mb-0 text-nowrap">
            <thead>
                <tr>
                    <th scope="col" class="border-0">Profil</th>
                    <th scope="col" class="border-0">Date d'adhèration</th>
                    <th scope="col" class="border-0">Orientation</th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="border-top-0">
                            <div class="d-lg-flex">
                                <div>
                                    <a href="#!">
                                        @*@if (item.Sexe == Sexe.Femme)
                                        {
                                            <img src="~/uploads/avatar-woman.png" style="width:70px;height:70px;" alt="" class="rounded img-4by3-lg" />
                                        }
                                        else
                                        {
                                            <img src="~/uploads/avatar.png" style="width:70px;height:70px;" alt="" class="rounded img-4by3-lg" />
                                        }*@
                                        <img src="~/Uploads/@item.ImageUrl" style="width:70px;height:48px;" alt="" class="rounded img-4by3-lg rounded-circle" />
                                    </a>
                                </div>
                                <div class="ml-lg-3 mt-2 mt-lg-0">
                                    <h4 class="mb-1 h5">
                                        <a asp-action="Details" asp-route-id="@item.ClientID" class="text-inherit">
                                            <span style="margin-right:5px;">@item.Nom</span><span>@item.Prenom</span>
                                        </a>
                                    </h4>
                                    <ul class="list-inline font-size-xs mb-0">
                                        <li class="list-inline-item">
                                            <i class="fas fa-address-card mr-1"></i>@item.CIN
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fas fa-briefcase mr-1"></i>
                                            @if (item.Statut == Statut.ChercheurEmploit)
                                            {
                                                <span>Chercheur d'emploit</span>
                                            }
                                            else
                                            {
                                                <span>Porteur de projet</span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="border-top-0">
                            @if (item.DateAderation != null)
                            {
                                <span>@String.Format("{0:M/d/yyyy}", item.DateAderation)</span>
                            }
                            else
                            {
                                <span>___________</span>
                            }
                        </td>
                        <td class="border-top-0" id="badgeOrientation@(item.ClientID)">
                            @if (item.Orientation == Orientation.Orienté)
                                {
                                <span id="badge@(item.ClientID)" class="badge badge-success">Orienté</span>
                                }
                                else if (item.Orientation == Orientation.NonOrienté)
                                {
                                    <span id="badge@(item.ClientID)" class="badge badge-info">Non orienté</span>
                                }
                            else if (item.Orientation == Orientation.Financé)
                            {
                                <span id="badge@(item.ClientID)" class="badge badge-success">Financé</span>
                            }
                            else
                            {
                                <span id="badge@(item.ClientID)" class="badge badge-secondary">Refusé</span>
                            }
                        </td>
                        

                        <td data-label="Orientation">
                            @if (User.IsInRole("Admin") || User.IsInRole("Gestionnaire"))
                            {
                                @if (item.Orientation == Orientation.Orienté)
                                {
                                    <select class="selectpicker Orientation" data-width="100%" onChange="Affectation(this,@item.ClientID);" id="@item.ClientID">
                                            <option value="@Orientation.NonOrienté">Non orienté</option>
                                            <option selected value="@Orientation.Orienté">Orienté</option>
                                            <option value="@Orientation.Refusé">Refusé</option>
                                        <option value="@Orientation.Financé">Financé</option>
                                        </select>
                                }
                                else if (item.Orientation == Orientation.NonOrienté)
                                {
                                    <select class="selectpicker Orientation" data-width="100%" onChange="Affectation(this,@item.ClientID);" id="@item.ClientID">
                                        <option selected value="@Orientation.NonOrienté">Non orienté</option>
                                        <option value="@Orientation.Orienté">Orienté</option>
                                        <option value="@Orientation.Refusé">Refusé</option>
                                        <option value="@Orientation.Financé">Financé</option>
                                    </select>
                                }
                                else if (item.Orientation == Orientation.Financé)
                                {
                                    <select class="selectpicker Orientation" data-width="100%" onChange="Affectation(this,@item.ClientID);" id="@item.ClientID">
                                        <option selected value="@Orientation.NonOrienté">Non orienté</option>
                                        <option value="@Orientation.Orienté">Orienté</option>
                                        <option value="@Orientation.Refusé">Refusé</option>
                                        <option selected value="@Orientation.Financé">Financé</option>
                                    </select>
                                }
                                else{
                                    <select class="selectpicker Orientation" data-width="100%" onChange="Affectation(this,@item.ClientID);" id="@item.ClientID">
                                        <option value="@Orientation.NonOrienté">Non orienté</option>
                                        <option value="@Orientation.Orienté">Orienté</option>
                                        <option selected value="@Orientation.Refusé">Refusé</option>
                                        <option value="@Orientation.Financé">Financé</option>
                                    </select>
                                }
                            }
                            else
                            {
                                <span>____</span>
                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>



        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                                <nav aria-label="Page navigation example" style="margin-right:30px!important;">
                                    <ul class="pagination justify-content-end ">
                                        @if (prevDisabled == "disabled")
                    {

                    }
                    else
                    {
                                            <li class="page-item">
                                                <a class="page-link @prevDisabled" asp-controller="Candidats" asp-action="Orientation"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-SearchNom="@ViewData["CurrentFilterN"]"
                   asp-route-SearchPrenom="@ViewData["CurrentFilterP"]"
                   asp-route-SearchDate="@ViewData["CurrentFilterD"]"
                   asp-route-SearchCIN="@ViewData["CINSortParm"]"
                   asp-route-SearchStatut="@ViewData["StatutSortParm"]"
                   asp-route-OrientationFilter="@ViewData["OrientationSortParm"]" aria-label="Précédent">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                    }

                    @foreach (var pageNumber in Model.DisplayPages)
                    {
                        <li class="page-item @(Model.PageIndex == pageNumber ? "active" : "")">
                            <a class="page-link" asp-controller="Candidats" asp-action="Orientation"
                               asp-route-pageNumber="@pageNumber"
                               asp-route-SearchNom="@ViewData["CurrentFilterN"]"
                               asp-route-SearchPrenom="@ViewData["CurrentFilterP"]"
                               asp-route-SearchDate="@ViewData["CurrentFilterD"]"
                               asp-route-SearchCIN="@ViewData["CINSortParm"]"
                               asp-route-SearchStatut="@ViewData["StatutSortParm"]"
                               asp-route-OrientationFilter="@ViewData["OrientationSortParm"]">@pageNumber</a>
                        </li>
                    }
                                        @if (nextDisabled == "disabled")
                    {

                    }
                    else
                    {
                                            <li class="page-item">
                                                <a class="page-link @nextDisabled" asp-controller="Candidats" asp-action="Orientation"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-SearchNom="@ViewData["CurrentFilterN"]"
                   asp-route-SearchPrenom="@ViewData["CurrentFilterP"]"
                   asp-route-SearchDate="@ViewData["CurrentFilterD"]"
                   asp-route-SearchCIN="@ViewData["CINSortParm"]"
                   asp-route-SearchStatut="@ViewData["StatutSortParm"]"
                   asp-route-OrientationFilter="@ViewData["OrientationSortParm"]" aria-label="Suivant">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                    }

                                    </ul>
                                </nav>
        }
    </div>

}
@section Scripts {

<script type="text/javascript">
        
    function Affectation(cocher, idCandidat){
        val1 = idCandidat;
            if (cocher.value == "Orienté") {
        $.ajax({
            type: "GET",
            url: "@Url.Action("AffecterOrientation")",
            data: {ClientID: val1, valide: 1},
            dataType: "text",
            success: function (msg) {
                        alertify.success('Affectation enregistré avec succée');
                $( "#badge"+val1 ).remove();
                $("#badgeOrientation" + val1).append(`
                <span id="badge${val1}" class="badge badge-success">Orienté</span>
                `) 
            },
            error: function (req, status, error) {
                alertify.error('Une erreur est survenu');
            }
        });
    }
            else if (cocher.value == "NonOrienté") {
        $.ajax({
            type: "GET",
            url: "@Url.Action("AffecterOrientation")",
            data: {ClientID: val1,  valide: 2},
            dataType: "text",
            success: function (msg) {
                        alertify.success('Affectation enregistré avec succée');
                $( "#badge"+val1 ).remove();
                $("#badgeOrientation" + val1).append(`
                <span id="badge${val1}" class="badge badge-info">Non orienté</span>
                `) 
            },
            error: function (req, status, error) {
                alertify.error('Une erreur est survenu');
            }
        });
    }

            else if (cocher.value == "Financé") {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("AffecterOrientation")",
                    data: { ClientID: val1, valide: 4 },
                    dataType: "text",
                    success: function (msg) {
                        alertify.success('Affectation enregistré avec succée');
                        $("#badge" + val1).remove();
                        $("#badgeOrientation" + val1).append(`
                        <span id="badge${val1}" class="badge badge-success">Financé</span>
                        `)
                    },
                    error: function (req, status, error) {
                        alertify.error('Une erreur est survenu');
                    }
                });
            }

            else{
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("AffecterOrientation")",
                    data: { ClientID: val1, valide: 3 },
                    dataType: "text",
                    success: function (msg) {
                        alertify.success('Affectation enregistré avec succée');
                        $("#badge" + val1).remove();
                        $("#badgeOrientation" + val1).append(`
                        <span id="badge${val1}" class="badge badge-secondary">Refusé</span>
                        `)
                    },
                    error: function (req, status, error) {
                        alertify.error('Une erreur est survenu');
                    }
                });
            }


    }
</script>
}
