@model Domain.Models.CreateClient
@using Domain.Entities;


@{
    Layout = "_LayoutPublic";
}
@if (ViewData["Success"] == null)
{

    <!-- Page header-->
    <div class="py-4 py-lg-6 bg-primary" style="
    background-color: #04ADEF!important;">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="d-lg-flex align-items-center justify-content-between">
                        <!-- Content -->
                        <div class="mb-4 mb-lg-0">
                            <h1 class="text-white mb-1">Enregistrer votre candidature</h1>
                            <p class="mb-0 text-white lead">
                                Remplissez simplement le formulaire ci dessous.
                            </p>
                        </div>
                        <div>
                            <a asp-controller="Authentication" asp-action="Login" class="btn btn-white ">Retour</a>
                            @*<a href="instructor-courses.html" class="btn btn-success ">Save</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="pb-12">
        <div class="container">
            <div id="courseForm" class="bs-stepper">
                <div class="row">
                    <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                        <!-- Stepper Button -->
                        <div class="bs-stepper-header shadow-sm" role="tablist">
                            <div class="step" data-target="#test-l-1">
                                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger1" aria-controls="test-l-1">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Informations basique</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#test-l-2">
                                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger2" aria-controls="test-l-2">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Photo de profil</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#test-l-3">
                                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger3" aria-controls="test-l-3">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label">Diplomes</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#test-l-4">
                                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger4" aria-controls="test-l-4">
                                    <span class="bs-stepper-circle">4</span>
                                    <span class="bs-stepper-label">Documents</span>
                                </button>
                            </div>
                        </div>
                        <!-- Stepper content -->
                        <div class="bs-stepper-content mt-5">
                            <form asp-action="Add" method="post" enctype="multipart/form-data">
                                <!-- Content one -->
                                <div id="test-l-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger1">
                                    <!-- Card -->
                                    <div class="card mb-3 ">
                                        <div class="card-header border-bottom px-4 py-3">
                                            <h4 class="mb-0">Information basique</h4>
                                        </div>
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="Nom" class="form-label">Nom</label>
                                                <input id="Nom" class="form-control" type="text" placeholder="Nom" required asp-for="Candidat.Nom" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Prenom" class="form-label">Prénom</label>
                                                <input id="Prenom" class="form-control" type="text" placeholder="Prénom" required asp-for="Candidat.Prenom" />
                                            </div>
                                            <div class="form-group">
                                                <label for="selectDate" class="form-label">Date de naissance</label>
                                                <input required asp-for="Candidat.DateNaissance" type="text" id="selectDate" class="form-control text-dark flatpickr"
                                                   placeholder="Sélectionner la date de naissance" />
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Situation familiale</label>
                                                <select required asp-for="Candidat.SituationFamilial" class="selectpicker" data-width="100%">
                                                    <option value="@SituationFamilial.Celibataire">Celibataire</option>
                                                    <option value="@SituationFamilial.Marié">Marié</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Sexe</label>
                                                <select required asp-for="Candidat.Sexe" class="selectpicker" data-width="100%">
                                                    <option value="@Sexe.Homme">Homme</option>
                                                    <option value="@Sexe.Femme">Femme</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <!-- Title -->
                                                <label for="postTitle" class="form-label">Adresse</label>
                                                <input asp-for="Candidat.Adresse" type="text" id="postTitle" class="form-control text-dark" placeholder="Adresse" />
                                            </div>

                                            <div class="form-group">
                                                <!-- Title -->
                                                <label for="postTitle" class="form-label">Email</label>
                                                <input required asp-for="Candidat.Email" type="email" id="postTitle" class="form-control text-dark" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <!-- Title -->
                                                <label for="postTitle" class="form-label">Téléphone</label>
                                                <input required asp-for="Candidat.Telephone" type="tel" id="postTitle" class="form-control text-dark" placeholder="Téléphone" />
                                            </div>
                                            <div class="form-group">
                                                <!-- Title -->
                                                <label for="postTitle" class="form-label">Découverte de la plateforme</label>
                                                <input required asp-for="Candidat.DecouvertePlateForme" type="text" id="postTitle" class="form-control text-dark" placeholder="Ou avez-vous découvert notre plateforme ?" />
                                            </div>
                                            <div class="form-group">
                                                <!-- Title -->
                                                <label for="postTitle" class="form-label">CIN</label>
                                                <input required asp-for="Candidat.CIN" type="text" id="postTitle" class="form-control text-dark" placeholder="Carte d'identité nationale" />
                                            </div>
                                            <div class="form-group">
                                                <label for="selectDate" class="form-label">Date d'hadèration</label>
                                                <input required asp-for="Candidat.DateAderation" type="text" id="selectDate" class="form-control text-dark flatpickr"
                                                   placeholder="Sélectionner la date d'hadèration" />
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Statut</label>
                                                <select required asp-for="Candidat.Statut" class="selectpicker" data-width="100%">
                                                    <option value="@Statut.ChercheurEmploit">Chercheur d'emploit</option>
                                                    <option value="@Statut.PorteurDeProjet">Porteur de projet</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <h5 style="color:#ff0000b3;text-decoration: underline;">@ViewData["MessageDocument"]</h5>
                                    <h5 style="color:#ff0000b3;text-decoration: underline;">@ViewData["Message"]</h5>
                                    <!-- Button -->
                                    <button class="btn btn-primary" onclick="courseForm.next()">
                                        Suivant
                                    </button>
                                </div>
                                <!-- Content two -->
                                <div id="test-l-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger2">
                                    <!-- Card -->
                                    <div class="card mb-3  border-0">
                                        <div class="card-header border-bottom px-4 py-3">
                                            <h4 class="mb-0">Media</h4>
                                        </div>
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="custom-file-container" data-upload-id="courseCoverImg" id="courseCoverImg">
                                                <label class="form-label">
                                                    Photo de profil
                                                    <a href="javascript:void(0)" class="custom-file-container__image-clear"
                                                   title="Clear Image"></a>
                                                </label>
                                                <label class="custom-file-container__custom-file">
                                                    <input asp-for="Candidat.ImageUrl" type="file" class="custom-file-container__custom-file__custom-file-input"
                                                       accept="image/*" />
                                                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                                                </label>
                                                <small class="mt-3 d-block">
                                                    Upload your course image here. It must meet
                                                    our
                                                    course image quality standards to be accepted.
                                                    Important guidelines: 750x440 pixels; .jpg, .jpeg,.
                                                    gif, or .png. no text on the image.
                                                </small>
                                                <div class="custom-file-container__image-preview"></div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    <!-- Button -->
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-secondary" onclick="courseForm.previous()">
                                            Précedent
                                        </button>
                                        <button class="btn btn-primary" onclick="courseForm.next()">
                                            Suivant
                                        </button>
                                    </div>
                                </div>
                                <!-- Content three -->
                                <div id="test-l-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger3">
                                    <!-- Card -->
                                    <div class="card mb-3  border-0">
                                        <div class="card-header border-bottom px-4 py-3">
                                            <h4 class="mb-0">AJouter des diplomes</h4>
                                        </div>
                                        <!-- Card body -->
                                        <div class="card-body ">
                                            <div class="bg-light rounded p-2 mb-4">
                                                <h4>Diplomes</h4>
                                                <div class="form-group col-md-12">
                                                    <div class="DiplomeCtn">
                                                    </div>
                                                    <div class="btn btn-primary" style="" onclick="AddDiplome()"><i class="bi bi-plus-circle" style=""></i>    Ajouter un diplome</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-secondary" onclick="courseForm.previous()">
                                            Précedent
                                        </button>
                                        <button class="btn btn-primary" onclick="courseForm.next()">
                                            Suivant
                                        </button>
                                    </div>
                                </div>
                                <!-- Content four -->
                                <div id="test-l-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger4">
                                    <!-- Card -->
                                    <div class="card mb-3  border-0">
                                        <div class="card-header border-bottom px-4 py-3">
                                            <h4 class="mb-0">Documents</h4>
                                        </div>
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="form-group col-md-12">
                                                <div class="DocumentCtn">
                                                </div>
                                                <div class="btn btn-primary" style="" onclick="AddDocument()"><i class="bi bi-plus-circle" style="cursor:pointer; ">   Ajouter un document</i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-22">
                                        <!-- Button -->
                                        <button class="btn btn-secondary mt-5" onclick="courseForm.previous()">
                                            Précedent
                                        </button>
                                        <div class="custom-control custom-checkbox">
                                            <input required type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Cocher la case pour confirmer l'envoi</label>
                                        </div>
                                        <button type="submit" class="btn btn-danger mt-5">
                                            Envoyer
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <div class="alert alert-success" role="alert" style="margin-top: 20%;text-align: center;">
        <strong>Felicitation, vous serez contactez dans les plus bref délais</strong>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $(".dz-button").text('Saisir l\'image du candidat');
        });

        var index = 0;
        var indexDoc = 0;

        function AddDiplome() {
            $('.DiplomeCtn').append(`
                                                    <div class="form-group"><label class="control-label">Nom du diplome</label><input required name="DiplomeModel[${index}].DiplomeName" class="form-control" /></div>
                                                    <div class="form-group"><label class="control-label">Branche</label><input required name="DiplomeModel[${index}].Branche" class="form-control" /></div>
                                                    <div class="form-group"><label class="control-label">Institut</label><input required name="DiplomeModel[${index}].InstitutName" class="form-control" /></div>
                                                    <div class="form-group">
                                                        <label for="selectDate" class="form-label">Date d'obtention du diplome</label>
                                                        <input required name="DiplomeModel[${index}].DateObtentionDiplome" type="date" id="selectDate" class="form-control text-dark flatpickr"
                                                                placeholder="Sélectionner la d'obtention du diplome" />
                                                    </div>
                                                    `);
            index++;
        }
        function AddDocument() {
            $('.DocumentCtn').append(`
                                                            <div class="form-group"><label class="control-label">Nom du fichier</label><input required name="DocumentModel[${indexDoc}].Designation" class="form-control" /></div>
                                                            <div class="form-group"><label for="validationValidFileInput1">Fichier</label>
                                                            <div class="custom-file">
                          <input name="DocumentModel[${indexDoc}].File" type="file"
                       id="file"
                       >
                        </div>

                                                        `);
            indexDoc++;
        }
    </script>

}
