@model List<KhalfiElection.Models.Entities.Personne>
@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Home Page";

    var pivots = ViewBag.Pivot as List<KhalfiElection.Models.Entities.Personne>;
    pivots = pivots?.Select(c => new KhalfiElection.Models.Entities.Personne
    {
        PersonneId = c.PersonneId,
        Nom = c.Nom + " " + c.Prenom
    }).ToList() ?? new List<KhalfiElection.Models.Entities.Personne>();

    var index = 0;
}
<div class="container-fluid">

<div class="card mb-4 mt-3">

<!-- start page title -->
    <div class="card-header" style="display:flex;justify-content:space-between;">
        <div>
            <h3 class="mb-0">Famille</h3>
            <span>
                Utiliser les filtres pour rechercher.
            </span>
        </div>
        
        
        <div>
            <a type="button" class="btn btn-info" asp-controller="Famille" asp-action="CreatePivot">Création d'un pivot</a>
        </div>
        <div>
            <a type="button" class="btn btn-success" asp-controller="Famille" asp-action="CreateResponsable">Création d'un responsable de famille</a>
        </div>
        <div>
            <a type="button" class="btn btn-secondary" asp-controller="Famille" asp-action="CreateMember">Création d'un membre d'une famille</a>
        </div>
    </div>

<!-- end page title -->
    <!-- Card body -->
    <div class="card-body">
        <!-- Form -->
            <form class="row mt-3" asp-action="Index" asp-controller="Famille" method="get" id="searchForm">
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="mb-3">
                        <select class="selectpicker" data-live-search="true" id="secteur" name="secteur" asp-items="@ViewBag.Secteur" data-width="100%">
                        <option value="" selected>--- Secteur ---</option>
                        <!-- Ajoutez vos options ici -->
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="mb-3">
                        <select class="selectpicker" data-live-search="true" id="pivot" name="pivot" asp-items="@(new SelectList(pivots, "PersonneId", "Nom"))" data-width="100%">
                        <option value="" selected>--- Pivot ---</option>
                        <!-- Ajoutez vos options ici -->
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <input name="SearchNom" id="Nom" value="" type="search" class="form-control" placeholder="Nom" />
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <input name="SearchCIN" id="CIN" value="" type="search" class="form-control" placeholder="CIN" />
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <button type="submit" class="btn btn-outline-info me-2">Rechercher</button>
                    <a asp-action="Index" asp-controller="Famille" class="btn btn-outline-primary" id="resetBtn">Initialiser</a>
            </div>
        </form>
    </div>

</div>

    <div class="card mb-4 mt-3">
    <div class="card-body">
    <div class="table-responsive border-0 overflow-y-hidden card-body">
        <table class="table mb-0 text-nowrap">
            <thead>
                <tr>
                    <th style="line-height:1.3" class="font-weight-bold text-uppercase">Nom &Aacute; Prénom</th>
                        <th style="line-height:1.3" class="font-weight-bold text-uppercase">CIN</th>
                        <th style="line-height:1.3" class="font-weight-bold text-uppercase">Date de naissance</th>
                        <th style="line-height:1.3" class="font-weight-bold text-uppercase">Adresse</th>
                        <th style="line-height:1.3" class="font-weight-bold text-uppercase">GSM</th>
                        <th style="line-height:1.3" class="font-weight-bold text-uppercase">Secteur</th>
                        <th style="line-height:1.3" class="font-weight-bold text-uppercase">Action</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var pivot in Model.Where(c => c.PivotId == null))
                    {
                        <tr class="bg-danger text-white">
                            <td>@pivot.Nom @pivot.Prenom</td>
                            <td>@pivot.CIN</td>
                            <td>@(pivot.DateNaissance == null ? "" : pivot.DateNaissance.Value.Date.ToShortDateString())</td>
                            <td>@pivot.Adresse</td>
                            <td>@pivot.GSM</td>
                            <td>@pivot.Secteur?.Nom</td>
                            <td class="table-action">
                                <a href="javascript: void(0);" class="action-icon toggle-details"> <i class="fas fa-chevron-down dropdown-item-icon text-white"></i></a>
                                <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-edit dropdown-item-icon text-white"></i></a>
                                <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-trash dropdown-item-icon text-white"></i></a>
                            </td>
                        </tr>

                        var responsables = Model.Where(c => c.PivotId == pivot.PersonneId && c.IsResponsable == true).ToList();

                        foreach (var responsable in responsables)
                        {
                            <tr class="details-row-@index bg-warning text-white border border-primary" style="display: none;">
                                <td>@responsable.Nom @responsable.Prenom</td>
                                <td>@responsable.CIN</td>
                                <td>@(responsable.DateNaissance == null ? "" : responsable.DateNaissance.Value.Date.ToShortDateString())</td>
                                <td>@responsable.Adresse</td>
                                <td>@responsable.GSM</td>
                                <td>@responsable.Secteur?.Nom</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon toggle-details"> <i class="fas fa-chevron-down dropdown-item-icon text-white"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-edit dropdown-item-icon text-white"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-trash dropdown-item-icon text-white"></i></a>

                                </td>
                            </tr>

                            index++;
                            var membres = Model.Where(c => c.ResponsableFamilleId == responsable.PersonneId).ToList();

                            foreach (var membre in membres)
                            {
                                    <tr class="details-row-@(index) bg-white border border-secondary" style="display: none;">
                                    <td>@membre.Nom @membre.Prenom</td>
                                    <td>@membre.CIN</td>
                                    <td>@(membre.DateNaissance == null ? "" : membre.DateNaissance.Value.Date.ToShortDateString())</td>
                                    <td>@membre.Adresse</td>
                                    <td>@membre.GSM</td>
                                    <td>@membre.Secteur?.Nom</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-edit dropdown-item-icon text-white"></i></a>
                                        <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-trash dropdown-item-icon text-white"></i></a>
                                    </td>
                                </tr>
                            }
                        }

                        index++;
                    }
            </tbody>
        </table>

</div>
</div>
</div>
</div>

@section Scripts {
    <script>
        // Ajouter un gestionnaire d'événements aux icônes de bascule pour afficher/masquer les détails
        document.querySelectorAll('.toggle-details').forEach(icon => {
            icon.addEventListener('click', function () {
                let currentRow = this.closest('tr');
                let detailsRow = currentRow.nextElementSibling;
                if (detailsRow) {
                    let index = parseInt(detailsRow.classList[0].split('-')[2]); // Extract index from the class name
                    let tbody = currentRow.closest('tbody'); // Get the parent tbody
                    let detailsRows = tbody.querySelectorAll('.details-row-' + index); // Select all details rows with the corresponding index
                    detailsRows.forEach(detailsRow => {
                        if (detailsRow.style.display === 'none' || detailsRow.style.display === '') {
                            detailsRow.style.display = 'table-row';
                            this.querySelector('i').classList.remove('mdi-chevron-down');
                            this.querySelector('i').classList.add('mdi-chevron-up');
                        } else {
                            detailsRow.style.display = 'none';
                            this.querySelector('i').classList.remove('mdi-chevron-up');
                            this.querySelector('i').classList.add('mdi-chevron-down');
                        }
                    });
                }
            });
        });
    </script>


    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission
            var secteur = document.getElementById('secteur').value;
            var pivot = document.getElementById('pivot').value;
            var nom = document.getElementById('Nom').value;
            var cin = document.getElementById('CIN').value;
            var url = '@Url.Action("Index", "Famille")'; // Modify this according to your controller route
            url += '?secteurId=' + encodeURIComponent(secteur) +
                '&pivotId=' + encodeURIComponent(pivot) +
                '&SearchNom=' + encodeURIComponent(nom) +
                '&SearchCIN=' + encodeURIComponent(cin);
            window.location.href = url; // Redirect to the constructed URL
        });

        // Reset form fields
        document.getElementById('resetBtn').addEventListener('click', function () {
            document.getElementById('secteurId').value = '';
            document.getElementById('pivotId').value = '';
            document.getElementById('Nom').value = '';
            document.getElementById('CIN').value = '';
        });
    </script>


}
