@model List<KhalfiElection.Models.Entities.Famille>
@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Home Page";

    var pivots = ViewBag.Pivot as List<KhalfiElection.Models.Entities.Personne>;
    pivots = pivots?.Select(c => new KhalfiElection.Models.Entities.Personne
    {
        PersonneId = c.PersonneId,
        Nom = c.Nom + " " + c.Prenom
    }).ToList() ?? new List<KhalfiElection.Models.Entities.Personne>();

    var index = 0;
}
<div class="container-fluid">

<div class="card mb-4 mt-3">

<!-- start page title -->
    <div class="card-header" style="display:flex;justify-content:space-between;">
        <div>
            <h3 class="mb-0">Famille</h3>
            <span>
                Utiliser les filtres pour rechercher.
            </span>
        </div>
        
        
        <div>
                <a type="button" class="btn btn-info" asp-controller="Famille" asp-action="Create">Création</a>
        </div>
           
    </div>

<!-- end page title -->
    <!-- Card body -->
    <div class="card-body">
        <!-- Form -->
            <form class="row mt-3" asp-action="Index" asp-controller="Famille" method="get" id="searchForm">
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="mb-3">
                        <select class="selectpicker" data-live-search="true" id="secteur" name="secteur" asp-items="@ViewBag.Secteur" data-width="100%">
                        <option value="" selected>--- Secteur ---</option>
                        <!-- Ajoutez vos options ici -->
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="mb-3">
                        <select class="selectpicker" data-live-search="true" id="pivot" name="pivot" asp-items="@(new SelectList(pivots, "PersonneId", "Nom"))" data-width="100%">
                        <option value="" selected>--- Pivot ---</option>
                        <!-- Ajoutez vos options ici -->
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <input name="SearchNom" id="Nom" value="" type="search" class="form-control" placeholder="Nom" />
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <input name="SearchCIN" id="CIN" value="" type="search" class="form-control" placeholder="CIN" />
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <button type="submit" class="btn btn-outline-info me-2">Rechercher</button>
                    <a asp-action="Index" asp-controller="Famille" class="btn btn-outline-primary" id="resetBtn">Initialiser</a>
            </div>
        </form>
    </div>

</div>

    <div class="table-responsive border-0 overflow-y-hidden card-body">
        <table class="table mb-0 text-nowrap">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>CIN</th>
                    <th>Date de naissance</th>
                    <th>Adresse</th>
                    <th>GSM</th>
                    <th>Secteur</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select(c => c.Membres))
                {
                    var responsable = item?.FirstOrDefault(c => c.IsResponsable == true);
                    var membres = item?.Where(c => c.IsResponsable == null || c.IsResponsable == false);

                    if (responsable != null)
                    {
                        <tr>
                            <td>@responsable.Nom</td>
                            <td>@responsable.Prenom</td>
                            <td>@responsable.CIN</td>
                            <td>@(responsable.DateNaissance == null ? "" : responsable.DateNaissance.Value.Date.ToShortDateString())</td>
                            <td>@responsable.Adresse</td>
                            <td>@responsable.GSM</td>
                            <td>@responsable.Secteur?.Nom</td>
                            <td class="table-action">
                                @if (membres != null && membres.Any())
                                {
                                    <a href="javascript: void(0);" class="action-icon toggle-details"> <i class="fas fa-chevron-down dropdown-item-icon"></i></a>
                                }
                                <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-edit dropdown-item-icon"></i></a>
                                <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-trash dropdown-item-icon"></i></a>

                            </td>
                        </tr>

                        foreach (var membre in membres)
                        {
                            <tr class="details-row-@index bg-light border border-primary" style="display: none;">
                                <td>@membre.Nom</td>
                                <td>@membre.Prenom</td>
                                <td>@membre.CIN</td>
                                <td>@(membre.DateNaissance == null ? "" : membre.DateNaissance.Value.Date.ToShortDateString())</td>
                                <td>@membre.Adresse</td>
                                <td>@membre.GSM</td>
                                <td>@membre.Secteur?.Nom</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-edit dropdown-item-icon"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="fe fe-trash dropdown-item-icon"></i></a>

                                </td>
                            </tr>
                        }
                        index++;
                    }
                }

            </tbody>
        </table>

</div>

</div>


@section Scripts {

    <script>
        // Ajouter un gestionnaire d'événements aux icônes de bascule pour afficher/masquer les détails
        document.querySelectorAll('.toggle-details').forEach(icon => {
            icon.addEventListener('click', function () {
                let currentRow = this.closest('tr');
                let detailsRow = currentRow.nextElementSibling;
                if (detailsRow) {
                    let index = parseInt(detailsRow.classList[0].split('-')[2]); // Extract index from the class name
                    let tbody = currentRow.closest('tbody'); // Get the parent tbody
                    let detailsRows = tbody.querySelectorAll('.details-row-' + index); // Select all details rows with the corresponding index
                    detailsRows.forEach(detailsRow => {
                        if (detailsRow.style.display === 'none' || detailsRow.style.display === '') {
                            detailsRow.style.display = 'table-row';
                            this.querySelector('i').classList.remove('mdi-chevron-down');
                            this.querySelector('i').classList.add('mdi-chevron-up');
                        } else {
                            detailsRow.style.display = 'none';
                            this.querySelector('i').classList.remove('mdi-chevron-up');
                            this.querySelector('i').classList.add('mdi-chevron-down');
                        }
                    });
                }
            });
        });


    </script>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission
            var secteur = document.getElementById('secteur').value;
            var pivot = document.getElementById('pivot').value;
            var nom = document.getElementById('Nom').value;
            var cin = document.getElementById('CIN').value;
            var url = '@Url.Action("Index", "Famille")'; // Modify this according to your controller route
            url += '?secteur=' + encodeURIComponent(secteur) +
                '&pivot=' + encodeURIComponent(pivot) +
                '&SearchNom=' + encodeURIComponent(nom) +
                '&SearchCIN=' + encodeURIComponent(cin);
            window.location.href = url; // Redirect to the constructed URL
        });

        // Reset form fields
        document.getElementById('resetBtn').addEventListener('click', function () {
            document.getElementById('secteur').value = '';
            document.getElementById('pivot').value = '';
            document.getElementById('Nom').value = '';
            document.getElementById('CIN').value = '';
        });
    </script>
}
